server {

    server_name  {{ item.hostnames | join(' ') | default('_') }};

    listen       80;
    listen       [::]:80;

    listen       443 ssl http2;
    listen       [::]:443 ssl http2;

    root         {{ item.www_root | default('/var/www/' + item.hostnames[0]) }}{{ nginx_www_subdirectory }};

    ssl_certificate "{{ item.ssl_cert | default('/etc/letsencrypt/live/' + item.hostnames[0] + '/fullchain.pem') }}";
    ssl_certificate_key "{{ item.ssl_key | default('/etc/letsencrypt/live/' + item.hostnames[0] + '/privkey.pem') }}";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers on;

    gzip    on;

    # Load configuration files for the default server block.
    include /etc/nginx/{{ item.hostnames[0] | default('default') }}.d/*.conf;

    location ~ /\. { deny all; }

{% if item.deny is defined %}
{% for dir in item.deny %}
    location ^~ /{{ dir }} { deny all; }
{% endfor %}

{% endif %}
{% if item.php_socket is defined %}
    location ~* \.php$ {
        # With php-fpm unix sockets
        fastcgi_pass unix:/run/php-fpm/{{ item.php_socket }}.sock;

        fastcgi_split_path_info ^(.+?\.php)(/.*)$;

        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
        fastcgi_param   PATH_INFO          $fastcgi_path_info;
        # Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";

        fastcgi_index index.php;
    }
{% endif %}

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }

    access_log /var/log/nginx/{{ item.hostnames[0] | default('default') }}.access.log;
    error_log /var/log/nginx/{{ item.hostnames[0] | default('default') }}.error.log;
}
